{% extends "layout.html" %}

{% block content %}

<div>
    <div class="navbar-container">
        <div class="navbar-logo">
            <h4>Tarandeep Mittal</h4>
        </div>
        <nav class="navbar-links">
            <a href="/">Home</a>
            <a href="/music">Music</a>
            <!-- <Link to="projects">Projects</Link> -->
        </nav>
    </div>
</div>

<div class="bio">
    <div class="bio-picture">
        <img class="bio-picture-specs" src="static/public/me.jpeg" alt="Tarandeep Mittal">
    </div>
    <div class="bio-text">
        <p>
            Hi, I'm Tarandeep! Currently, I'm based in Toronto and have recently finished my Industrial Engineering degree at Ryerson University.
            In my free time, I find myself playing <a href="https://steamcommunity.com/id/dipmaestro/"> video games</a>, 
            solving variants of the <a href="https://www.worldcubeassociation.org/persons/2014MITT02">rubik's cube</a>, 
            and listening to lots of <a href="https://open.spotify.com/user/mittaltarandeep">music</a>!
        </p>
        <p>
            Feel free to download my <a target="_blank" rel="noreferrer" href="/resume">resume</a>, 
            look at  <a target="_blank" rel="noreferrer" href="https://github.com/tdmittens">my GitHub</a>, or
            send me an <a href="mailto:tarandeepmittal@gmail.com">email!</a> I'm always happy to meet new people!
        </p>
    </div>
    <div class="bio-gitactivity">
        <img class="bio-github" src="https://ghchart.rshah.org/tdmittens" alt="tdmittens's Github chart">
    </div>
    
    <div class="bio-footer">
        <p>Designed and <a href="https://github.com/tdmittens/personal-websitev3"> developed</a> with ❤ and 😭.</p>            
    </div>
</div>

{% endblock %}
