{% extends "layout.html" %}

{% block content %}

<div class="music-container">
    <div class="music-section">
        <h2>Top 10 Songs</h2>
        
        <iframe src="https://open.spotify.com/embed/playlist/2KQsKqJPdzB5dd13yOD0dE" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" title="Top 10 Songs"></iframe>
    </div>
    <div class="music-section">
        <h2>Rotation</h2>
        <iframe src="https://open.spotify.com/embed/playlist/1R4p6oyJcvsR5EJ9PXB0Jv" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" title="Korean Rotation"></iframe>
    </div>
    <div class="music-section">
        <h2>K-POP</h2>
        <iframe src="https://open.spotify.com/embed/playlist/4ghWNkDFPjqhVPayTwu7j9" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" title="English Rotation"></iframe>
    </div>
    <div class="music-section">
        <h2>Favourite Mix</h2>
        <iframe src="https://open.spotify.com/embed/playlist/0Kf8LFRaCB6PMPDkiXveNG" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" title="Current Favourite Mix"></iframe>
    </div>
</div>

{% endblock %}